* {
  box-sizing: border-box;
}
/* General Styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1, h2, h3, h4, h5 {
  font-size: 20px;
}

p {
  line-height: 1.25;
  margin: 20px 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}

strong {
  font-weight: bold;
  color: red;
}

header {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding: 20px 0;
}

header h1 {
  font-size: 20px;
}

header nav {
  margin: 20px 0;
}

header nav a {
  margin-left: 20px;
  font-size: 18px;
}

header nav .first-anchor {
  margin-left: 0;
}

.main-content section {
  margin: 20px 0;
}

.main-footer {
  margin-bottom: 40px;
}


/* .box {
  background-color: aqua;
  width: 400px;
  padding: 75px;
  border: 15px solid salmon;
  margin: 75px;
} */

